<div class="content-nav">
	<div class="category">
		<h4>分类</h4>
		<ul>
			<li><a href="#">Python</a></li>
			<li><a href="#">Django</a></li>
			<li><a href="#">Google</a></li>
			<li><a href="#">MySQL</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Java</a></li>
			<li><a href="#">Movie</a></li>
		</ul>
	</div>
	<div class="tags">
		<h4>标签</h4>
		<ul>
			<li><a href="#">Python</a></li>
			<li><a href="#">Django</a></li>
			<li><a href="#">Google</a></li>
			<li><a href="#">MySQL</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Java</a></li>
			<li><a href="#">Movie</a></li>
			<li><a href="#">C#</a></li>
			<li><a href="#">TinyMCE</a></li>
			<li><a href="#">Grappelli</a></li>
			<li><a href="#">Syntaxhighlight</a></li>
		</ul>
		
	</div>
</div>